@page {
    size: A4;
    margin: 1cm;
}

h1{
    font-size: 20px;
    color: #BBBBBB;
    margin-bottom: 0px;
}

h2{
    font-size: 16px;
    color: #BBBBBB;
    margin-top: 0px;
}

@frame cabecalho{
    height: 110px;
}

.cabecalho_text{
    padding-top: 10px;
}

.data{
    float: right;
    margin-top: -40px;
}

.topo p{
    margin: 0;
}

.topo{
    padding-top: 15px;
}

.assunto{
    padding: 10px 0 10px 0;
}

.corpo{
    padding-bottom: 15px;
}

.assinatura p{
    margin: 0px;
    text-align: center;
}

@frame rodape{
    height: 60px;
}

#rodape p{
    color: #BBBBBB;
    margin: 0px;
}