Django==2.0.5
Pillow==5.1.0
django-appconf==1.0.1
django-crispy-forms==1.7.2
django-cruds-adminlte==0.0.13
django-image-cropping==1.1.0
django-select2==6.0.2
djangoajax==3.0.2
easy-thumbnails==2.5
pytz==2018.4
six==1.11.0