<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>{{ deputado }}</p>
    <p>{{ inicio|date:'c' }} - {{ fim|date:'c' }}</p>
    {% for item in itens %}
        {% if item.data_hora_inicio %} {# evento #}
            <p>{{ item.data_hora_inicio|date:'c' }}</p>
            <p>{{ item.data_hora_fim|date:'c' }}</p>
            <p>{{ item.tipo }}</p>
            <p>{{ item.local }}</p>
            <p>{{ item.cidade }}</p>
            <p>{{ item.descricao }}</p>
            {% if item.obs %}<p>{{ item.obs }}</p>{% endif %}
        {% else %} {# vôo #}
            <p>{{ item.cidade_partida }}</p>
            <p>{{ item.data_hora_partida|date:'c' }}</p>
            <p>{{ item.cidade_chegada }}</p>
            <p>{{ item.data_hora_chegada|date:'c' }}</p>
            <p>{{ item.companhia }}</p>
            <p>{{ item.localizador }}</p>
            <p>{{ item.numero }}</p>
            <p>{{ item.portao }}</p>
            <p>{{ item.assento }}</p>
            {% if item.obs %}<p>{{ item.obs }}</p>{% endif %}
        {% endif %}
    {% empty %}
    {% endfor %}
</body>
</html>