{% extends "admin/base_site.html" %}{% load admin_static %}

{% block title %}Roteiro | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}

<h1>Roteiro de {{ deputado }}</h1>
<h3>De {{ inicio|date:'c' }} a {{ fim|date:'c' }}</h3>

<table>
{% for item in itens %}
    <tr>
    {% if item.data_hora_inicio %} {# evento #}
        <th>Evento</th>
        <td>{{ item.data_hora_inicio|date:'c' }}</td>
        <td>{{ item.data_hora_fim|date:'c' }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.local }}</td>
        <td>{{ item.cidade }}</td>
        <td colspan="3">{{ item.descricao|safe }}</td>
        <td>{% if item.obs %}{{ item.obs|linebreaks }}{% endif %}</td>
    {% else %} {# vôo #}
        <th>Vôo</th>
        <td>{{ item.cidade_partida }}</td>
        <td>{{ item.data_hora_partida|date:'c' }}</td>
        <td>{{ item.cidade_chegada }}</td>
        <td>{{ item.data_hora_chegada|date:'c' }}</td>
        <td>{{ item.companhia }}</td>
        <td>{{ item.localizador }}</td>
        <td>{{ item.numero }}</td>
        <td>{{ item.portao }}</td>
        <td>{{ item.assento }}</td>
        <td>{% if item.obs %}{{ item.obs|linebreaks }}{% endif %}</td>
    {% endif %}
    </tr>
{% empty %}
    <tr>
        <td colspan="10">Sem eventos para o período selecionado.</td>
    </tr>
{% endfor %}
</table>
{% endblock %}