{% extends "admin/base_site.html" %}{% load admin_static %}

{% block title %}Enviar Ofício | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}

<p>{{ deputado }}</p>
<p>{{ inicio|date:'c' }} - {{ fim|date:'c' }}</p>

{% for item in itens %}
    <table border="1">
    {% if item.data_hora_inicio %} {# evento #}

        <tr>
            <td>Data Incio: {{ item.data_hora_inicio|date:'c' }}</td>
            <td>Data Fim: {{ item.data_hora_fim|date:'c' }}</td>
            <td colspan="2">Tipo: {{ item.tipo }}</td>
        </tr>
        <tr>
            <td>Local: {{ item.local }}</td>
            <td colspan="2">Cidade: {{ item.cidade }}</td></tr>
        <tr>
            <td colspan="3">{{ item.descricao|safe }}</td>
        </tr>
        {% if item.obs %}<tr>OBS.: {{ item.obs }}</tr>{% endif %}
    {% else %} {# vôo #}
        <tr>
            <td>Partida: {{ item.cidade_partida }}</td>
            <td>Hora de Partida: {{ item.data_hora_partida|date:'c' }}</td>
            <td>Hora de Chegada: {{ item.cidade_chegada }}</td>
            <td colspan="2">Destino: {{ item.data_hora_chegada|date:'c' }}</td>
        </tr>
        <tr>
            <td>Companhia: {{ item.companhia }}</td>
            <td>Localizador: {{ item.localizador }}</td>
            <td>Número: {{ item.numero }}</td>
            <td>Portão Embarque: {{ item.portao }}</td>
            <td>Assento: {{ item.assento }}</td>
        </tr>
        {% if item.obs %}<tr>OBS.: {{ item.obs }}</tr>{% endif %}
    {% endif %}
    </table>
{% empty %}
{% endfor %}

{% endblock %}